*{
	margin:0px;
	padding: 0px;
}
body{
	background: #f6f9f9;
	font-family: 'Lato', sans-serif;
}
.container{
	width: 1140px;
	margin:0 auto;
}

header {
          padding: 33px 0px;
          width: 100%;
          float: left;
}
.banner{
	background: url(../img/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	float: left;
}

.banner-content{
	width: 600px;
	margin:0 auto;
	text-align: center;
	padding: 220px 0px 86px;
}

.banner-content h1{
    color: #fff;
    font-size: 120px;
}
.banner-content .underline{
    display: block;
    border-bottom: 1px solid #15a4fa;
    width: 100%;
    margin: 10px auto;

}

.banner-content p{

    color: #fff;    
    font-size: 21px;
    margin-top: 40px;
}
.btn {
    background: transparent;
    color: #fff;
    width: 180px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #15a4fa;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 170px;
}

.btn:hover {

   box-shadow: 1px 1px 4px white;
   transform: scale(1.04);
}
.banner-content a{
	text-decoration: none;
	color: #fff;
}
.fa.fa-angle-down{
    font-size: 50px;
}

.section-two{
	width: 100%;
	float: left;
}
.sec-two-div-one{
	padding: 70px 0px;
	text-align: center;
}
.sec-two-div-one h1{
	font-size: 40px;
	color: #2d3950;

}

.sec-two-div-one p{
	margin-top: 30px;
	font-size: 20px;

}

.section-three{
	width: 100%;
	float: left;
	background: #fff;
}
.sec-three-div-one{
	width: 33.33%;
	float: left;
	text-align: center;
}
.sec-three-div-two{
	width: 33.33%;
	float: left;  
	text-align:center;		
	
}


.sec-three-div-three{
	width: 33.33%;
	float: left;
	text-align: center;
	
}

.div {
    height: 80px;
    width: 80px;
    background: linear-gradient(to right,#48baff 50%,#5fc3ff 50%);
    display: block;
    margin: 60px auto 30px;
}


.sec-three-div-one .fa.fa-mobile{
	
	font-size: 70px;
	color: #fff;	
}


.sec-three-div-two .fa.fa-paper-plane{
	height: 80px;
	width: 80px;
	margin-top: 16px;
	font-size: 45px;
	color: #fff;
}

.sec-three-div-three .fa.fa-bullhorn{
	height: 80px;
	width: 80px;
	margin-top: 18px;
	font-size: 45px;
	color: #fff;
}

.section-three h3 {
    font-size: 22px;
    margin-bottom: 25px;
    color: #2d3950;
}

.section-three p {
    font-size: 15px;
    color: gray;
    margin-bottom: 60px;
}

.section-four{
	width: 100%;
	float: left;
}

.section-four h1{
	font-size: 41px;
	color: #2d3950;
	text-align: center;
	margin:75px auto 30px;
}

.section-four p{
	font-size: 15px;
	color: gray;
	text-align: center;
	margin-bottom:80px; 
}
.img-one{
	width: 100%;
	float: left;
}
.middle{
	margin: 0px 26px;
}

.img-two{
	width: 100%;
	float: left;
	margin-bottom: 115px;
}

.one{
    margin-top: 26px;
}

.two{
    margin:26px 26px 0px;
}

.three{
    margin-top: 26px;
}


.section-five{
	background: url(../img/last.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	float: left;
}
.section-five h1{
	text-align: center;
	color: #fff;
	margin-top: 70px;
    font-size: 41px;
}

.section-five p{
	text-align: center;
	margin: 20px auto 55px;
	font-size: 15px;
	color: #999999;
     
}
.section-five-div {
    width: 600px;
    margin: 0px auto;
    text-align: center;
    
}

.section-five input {
    padding: 20px 20px;
    width: 400px;
    border: 1px solid #999999;
    text-align: left;
    color: #fff;
    background: transparent;
   
    font-size: 15px;
    color: #999999;
    margin-bottom: 20px;
}


.section-five  textarea {
    padding: 20px 20px;
    width: 400px;
    height: 130px;
    border: 1px solid #999999;
    text-align: top right;
    background: transparent;
    font-size: 15px;
    color: #999999;
    margin-bottom: 15px;
}

.sec-five-div-two{
	width: 100%;
	float: left;
}
.sec-five-div-two .fa.fa-square {
    color: #9ba1ab;
    font-size: 15px;
    margin-left: 350px;
}
.sec-five-div-two a {
	text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-left:10px;
}

.sec-five-div-two button {
    background: transparent;
    color: #fff;
    width: 130px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #15a4fa;
    border-radius: 6px;
    margin-bottom: 105px;
    margin-left: 140px;
}

.sec-five-div-two button:hover {
   
   box-shadow: 1px 1px 4px white;
   transform: scale(1.04);
}


footer{
	width: 100%;
	float: left;
}

footer p{
	font-size: 15px;
	padding: 35px 0px;
}

.footer-div-one
{
	width: 50%;
	float: left;
}

.footer-div-two
{
	width: 50%;
	float: left;
	padding: 25px 0px;	
}

.footer-div-two-icon{
	float: right;
}

.footer-div-two ul{

     list-style: none;
}


.footer-div-two ul li{

     display: inline-block;
     margin: 0px 5px;

}


.footer-div-two ul li a {
    text-decoration: none;
    font-size: 15px;
    padding: 10px 10px;
    color: #fff;
    background: #15a4fa;
}


.footer-div-two ul li a:hover {
    
    background: orange;
}




	
	
	


